@import 'variables';

.bilboard {
  min-height: 520px;
  background: grey transparent;
  position: relative;

  &__slider {
    overflow: hidden;
    width: 100%;
    position: absolute;
    z-index: -1;
    top: 0;

    // Would work only with slick
    &-dots {
      position: absolute;
      left: 50%;
      transform: translatex(-50%);
      bottom: 0;
      margin: 0;
      margin-bottom: 29px;
      display: flex;

      & > li > button {
        font-size: 0;
        display: block;
        width: 70px;
        height: 2px;
        background-color: rgba(256, 256, 256, 0.6);
        margin: 0;
        border: none;
        padding: 0;
        position: relative;
        border-left: 70px solid white;

        &:focus {
          outline: none;
        }
      }

      li.slick-active ~ li > button {
        border-left: none;
      }

      @keyframes slick-active {
        0% {border-left-width: 0;}
        100% {border-left-width: 70px;}
      }

      li.slick-active > button {
        border-left-width: 70px;
        animation-name: slick-active;
        animation-duration: 4s;
        animation-timing-function: linear;
      }

      & > li:not(last-of-type) {
      margin-right: 5px;
      }

    }
  }

  &__info {
    padding-top: 176px;

    &-heading {
      font-size: 24px;
      font-family: 'Open Sans', serif;
      font-weight: 600;
      line-height: 1.06;
      text-align: left;
      color: $main-background-color;
      max-width: 612px;
      margin: 0;

      &-big {
        font-size: 140px;
        letter-spacing: 0.037em;
      }
    }

    &-p {
      // marked up as is in psd template: height is equial to 2 lines (~54px)
      font-family: 'Open Sans', serif;
      font-size: 18px;
      line-height: 1.5;
      text-align: left;
      color: $main-background-color;
      max-width: 415px;
      // max height with not ruining slider's usability is 108px (4 rows) on max viewport
      max-height: 54px;
      overflow: hidden;
      margin: 0;
      margin-top: 4px;
    }
  }

  @media (max-width: 769px) {
    &__info {
      &-heading {
        &-big {
          line-height: 1;
          font-size: 18vw;
        }
      }
    }
  }
}
