.category {
  padding-top: 73px;
  padding-bottom: 85px;
  &-list {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 560px;
    margin: 0;
    padding: 0;

    list-style: none;
  };
  &-item {
    display: block;
    width: 270px;
    min-height: 160px;
    background-color: dimgrey;
  }
}
