$border-divider: 1px solid rgba(199, 199, 199, 0.6);

.dashboard {
  width: 200px;
  position: relative;

  &__avatar {
    border-radius: 50%;
  }

  &__control {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-end;

    list-style: none;

    &-item {
      display: block;
      margin-right: 20px;
    }

    & label[for="dashboard-switch"] {
      position: relative;

      & .caret {
        cursor: pointer;
        position: absolute;
        top: 50%;
        right: -15px;
      }

      & .dashboard__avatar {
        cursor: pointer;

        &:hover {
          transform: scale(1.05);
        }

        &:active {
          transform: scale(0.95)
        }
      }
    }

    #dashboard-switch:checked ~ & .caret {
      transform: rotate(200grad);
    }
  }

  &__panel {
    display: block;
    visibility: hidden;
    position: absolute;
    width: 300px;
    right: 0;
    top: calc(100% + 9px);
    background-color: $main-background-color;
    border-radius: 4px;
    box-shadow: 0px 5px 15px 0 rgba(0, 0, 0, 0.05);

    &:after {
      content: "";
      display: block;
      position: absolute;
      top: -18px;
      right: 28px;
      // Trinagle
      border: 10px solid transparent;
      border-bottom: 10px solid $main-background-color;
    }

    //panel switcher
    #dashboard-switch:checked ~ & {
      visibility: visible;
    }

    &-list {
      margin: 0;
      padding: 10px 29px 0;

      list-style: none;
    }

    &-item {
      display: block;
      padding: 8px 0;
      margin: 0;

      // reassigning header__link property
      &:active,
      &:active:focus, {
        background-color: transparent;
        color: $main-highlight-color;
        box-shadow: none;
      }
    }

    &-exit {
      margin: 10px -29px 4px;
      padding: 0;
      padding-left: 28px;
      border-top: $border-divider;
      position: relative;
    }
  }

  &__user-info {
    padding: 20px 30px;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
    border-bottom: $border-divider;
  }

  &__userdata {
    margin-left: 31px;
  }

  &__name {
    font-family: 'Open Sans', serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.33;
    color: $dashboard-name-color;
    margin-bottom: 11px;
  }

  &__email {
    opacity: 0.7;
    font-family: 'Open Sans', serif;
    font-size: 14px;
    line-height: 1.71;
    text-align: left;
    color: $dashboard-email-color;
  }
}

@media (max-width: 1199px) {
  .header__menu-dashboard {
    order: -1;
    width: 100%;
    padding: 0 15px;
    border-bottom: $border-divider;

    .dashboard {
      &__control {
        position: absolute;
        padding: 0;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: space-around;
        height: 100%;
        top: 50%;
        transform: translateY(-50%);
        left: 15px;

        &-avatar {
          display: none;
        }

        &-item {
          margin: 0;
        }
      }

      &__user-info {
        padding: 10px;
        padding-left: 35px;
        border: none;
        width: 250px;

        & .dashboard__avatar {
          flex-shrink: 0;
        }
      }

      &__userdata {
        margin-left: 10px;
      }

      &__panel {
        position: static;
        visibility: visible;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        min-height: auto;
        box-shadow: none;
        width: 100%;

        &:after {
          display: none;
        }

        &-list {
          display: inline-flex;
          padding: 0;

          & li {
            display: flex;
            align-items: center;
            padding: 0 10px;;
          }
        }

        &-exit {
          padding: 0;
          padding-left: 28px;
          margin: 0;
          border: none;

          .dashboard__panel-item {
            margin-left: -5px;
            border-left: $border-divider;
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .header .mp__btn {
      margin-top: 2px;
  }

  .header__menu-dashboard {
    .dashboard {
      &__panel-list {
        li {
          padding: 0 5px;
        }
      }

      &__userdata {
        display: none;
      }
    }
  }
}
