@import 'variables';

.header {
  background-color: white;

  &__nav {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: flex-start;
    position: relative;

    @media (max-width: 1199px) {
      &-toggle {
        width: 100%;
      }
    }
  }

  &__link {
    font-size: 14px;
    line-height: 14px;
    margin: 9px 0;
    padding: 14px 17px;
    color: $h2-95-color;

    &:hover,
    &:hover:focus {
      color: $h2-95-color;
      text-decoration: underline;
    }

    &:focus {
      color: $h2-95-color;
      text-decoration: none;
    }

    &:active,
    &:active:focus,
    &[aria-expanded="true"] {
      background-color: $main-highlight-color;
      box-shadow: 0px 5px 15px 0 rgba(0, 0, 0, 0.05);
      color: $highlight-text-color;
      text-decoration: none;
    }

    &[aria-expanded="true"]:hover {
      color: $highlight-text-color;
      text-decoration: underline;
    }

    &:active .caret,
    &[aria-expanded="true"] .caret {
      transform: rotate(200grad);
    }
  }

  &__menu {
    margin:0;
    padding: 0;
    list-style: none;
    margin-left: 56px;
    height: 60px;
    display: flex;
    align-items: stretch;
    justify-content: flex-start;

    &-item {
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      align-items: center;
    }



  }
}
// Bootstrap
.mp__header {
  .dropdown-menu {
    left: auto;
    right: 0;
    border-radius: 0;
    padding: 27px;
    padding-right: 30px;
    margin-top: 10px;
  }

  .dropdown-menu > li > a {
    padding: 0;
    font-weight: 600;
    font-size: 14px;
    color: $h2-95-color;

    &:hover {
      background-color: transparent;
      text-decoration: underline;
    }

    &:active {
      color: $main-highlight-color;
    }

  }

  .dropdown-menu > li:not(:last-of-type) > a {
    margin-bottom: 17px;
  }

  @media (max-width: 1199px) {
    .navbar-collapse {
      width: 100%;
      height: auto;
      position: absolute;
      top: 58px;
      background-color: white;
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
    }

    .dropdown-menu {
      position: static;
      width: 100%;
      padding: 0;
      margin: 0;
      box-shadow: inset 0 6px 12px rgba(0,0,0,.175);

      & > li > a {
        padding: 7px 17px;
        font-weight: 400;
      }

      & > li:not(:last-of-type) > a {
        margin: 0;
      }
    }
  }
}


// Special page styles
.mp__header {
  & .header__logo {
    margin-top: 2px;
    margin-bottom: 1px;
  }

  & .mp__btn {
    align-self: center;
    margin-left: 44px;
  }

  @media (max-width: 1199px) {
    .header {
      &__menu {
        margin: 0;
        display: flex;
        flex-flow: column nowrap;
        height: 100%;
        width: 100%;
        padding-bottom: 10px;

        &-item {
          flex-flow: column nowrap;
        }
      }

      &__link {
        width: 100%;
        margin: 0;

        &:hover {
          background-color: $semi-bg-color-6;
        }

        &.dashboard__panel-item:hover {
          background-color: transparent;
        }

        &:active {
          background-color: $main-highlight-color;
        }

        &[aria-expanded="true"] {
          background-color: $main-highlight-color;

          &:hover {
            opacity: 0.9;
          }
        }
      }
    }

    & .mp__btn {
      margin: 0;
      margin-top: 6px;
    }
  }

  @media (max-width: 767px) {
    .header .mp__btn {
        margin-top: 2px;
    }
  }
}
