.icon {
  width: 20px;
  height: 20px;
  fill: black;

  .mp__pros & {
    width: 30px;
    height: 30px;

    &-light-bulb {
      width: 32px;
      height: 32px;
    }

    &-dollar {
      width: 27px;
      height: 27px;
    }

  }

  &-container {
    display: flex;
    align-items: center;

    .mp__pros & {
      position: absolute;
      left: 0;
      top: 0;

      @media(max-width: 767px) {
        left: 10px;
      }
    }
  }

  &-search {
    fill: #a4a4a4;

    & + .icon-text {
      font-size: 0;
    }
  }

  &-bell {
    fill: #7e7e7e;

    & + .icon-text {
      font-size: 0;
    }
  }

  &-msg {
    fill: #7e7e7e;

    & + .icon-text {
      font-size: 0;
    }
  }

  &-exit {
    margin: 0 5px;
    fill: rgba(0, 0, 0, 0.7);
    width: 14px;

    @media (max-width: 1199px) {
      width: 20px;
    }

    & + .icon-text {
      @media (max-width: 767px) {
        font-size: 0;
      }
    }
  }

  &-hamburger {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &-arrow {
    display: none;
    position: absolute;
    width: 27px;
    height: 19px;
    top: 20px;
    right: 20px;
    fill: $main-background-color;

    .category__link:hover & {
      display: inherit;
    }
  }

  &-light-bulb {
    fill: rgba(0, 0, 0, 0.5);
    height: 32px;
    width: 32px;
  }
  &-rocket {
    fill: rgba(0, 0, 0, 0.7);
  }
  &-dollar {
    fill: rgba(0, 0, 0, 0.7);
  }
  &-paper-airplane {
    fill: rgba(0, 0, 0, 0.67);
  }

  &-like {
    width: 16px;
    height: 15px;
    margin-bottom: 5px;
    opacity: 0.3;
  }

  &-dislike{
    margin-top: 5px;
    margin-bottom: 0;
    transform: rotate(180deg);
    opacity: 0.3;
  }

  &-comments {
    width: 15px;
    height: 13px;
    opacity: 0.3;
  }

  &-views {
    width: 17px;
    height: 11px;
    opacity: 0.4;
  }
}
