// Color palette
$main-highlight-color: #3f36ff;
$h2-95-color: rgba(16, 13, 64, 0.95);
$h2-color: rgba(16, 13, 64, 0.9);
$main-background-color: #ffffff;
$semi-bg-color-2: #f2f2f2;
$semi-bg-color-6: #f6f6f6;
$dashboard-item-color: rgba(36, 36, 36, 0.9);
$dashboard-email-color: rgba(36, 36, 36, 0.7);
$dashboard-name-color: #242424;
$dashboard-quit-color: rgba(36, 36, 36, 0.8);
