/* Icons from directory "" */
.icon-icon-dollar,.icon-icon-dollar\:regular{background-image:url('icons/icons.svg');background-position:0 0;background-repeat:no-repeat}
.icon-icon-dollar-dims{width:26px;height:26px}
.icon-icon-light-bulb,.icon-icon-light-bulb\:regular{background-image:url('icons/icons.svg');background-position:0 -26px;background-repeat:no-repeat}
.icon-icon-light-bulb-dims{width:22px;height:33px}
.icon-icon-mail,.icon-icon-mail\:regular{background-image:url('icons/icons.svg');background-position:0 -59px;background-repeat:no-repeat}
.icon-icon-mail-dims{width:20px;height:16px}
.icon-icon-notific,.icon-icon-notific\:regular{background-image:url('icons/icons.svg');background-position:0 -75px;background-repeat:no-repeat}
.icon-icon-notific-dims{width:16px;height:20px}
.icon-icon-paper-airplane,.icon-icon-paper-airplane\:regular{background-image:url('icons/icons.svg');background-position:0 -95px;background-repeat:no-repeat}
.icon-icon-paper-airplane-dims{width:31px;height:24px}
.icon-icon-quit,.icon-icon-quit\:regular{background-image:url('icons/icons.svg');background-position:0 -119px;background-repeat:no-repeat}
.icon-icon-quit-dims{width:14px;height:15px}
.icon-icon-rocket,.icon-icon-rocket\:regular{background-image:url('icons/icons.svg');background-position:0 -134px;background-repeat:no-repeat}
.icon-icon-rocket-dims{width:29px;height:29px}
.icon-icon-search-blue,.icon-icon-search-blue\:regular{background-image:url('icons/icons.svg');background-position:0 -163px;background-repeat:no-repeat}
.icon-icon-search-blue-dims{width:12px;height:12px}
.icon-icon-search,.icon-icon-search\:regular{background-image:url('icons/icons.svg');background-position:0 -175px;background-repeat:no-repeat}
.icon-icon-search-dims{width:18px;height:18px}